/* Shared */

body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: Sans-Serif;
	background-color: lightgray;
}

img.appIcon {
	border-radius: 10%;
}

section {
	padding: 44px 10%;
}

/* navbar */

#navbar {
	background-color: teal;
	padding: 0;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
}

#navbar span {
	color: white;
	font-weight: lighter;
	display: inline-block;
	padding: 20px 0;
	letter-spacing: 0.5px;
}

#navbar span#currentPage {
	color: orange;
}

#navbar a {
	text-decoration: none;
}

#navbar img {
	height: 44px;
	padding-top: 4px;
}

/* section */

#sluglineSection {
	background-color: white;
}

#sluglineSection h1 {
	font-size: xx-large;
	font-weight: lighter;
	letter-spacing: 1.2px;
}

#sluglineSection p {
	letter-spacing: 0.5px;
	font-weight: lighter;
	line-height: 150%;
}

#sluglineSection nav {
	padding: 30px;
}

#sluglineSection nav a {
	color: teal;
	font-size: large;
	text-decoration: none;
}

#blogPosts {
	background-color: white;
}

/* article */

.blogPost {
	text-align: left;
	max-width: 800px;
	margin: 0 auto;
}

.blogPost h1 {
	font-size: x-large;
	font-weight: lighter;
	color: black;
	margin-bottom: 4px;
	letter-spacing: 0.5px;
}

.blogPost header {
	font-weight: lighter;
	font-size: small;
	color: gray;
	letter-spacing: 0.2px;
}

.blogPost p {
	font-weight: lighter;
	line-height: 150%;
	letter-spacing: 0.5px;
}

.blogPost a {
	color: teal;
}

/* siteFooter */

#siteFooter p {
	display: inline-block;
	margin: 20px;
	font-size: small;
}

#siteFooter a {
	color: black;
}